<script>
document.addEventListener("DOMContentLoaded", function(event)
{
	$( "form" ).submit(function( event ) {
		if(!isValidated($( "form" ).find('[data-constraints]')))
		{
			return false;
		}
	});

	if(view_mode == 'mobile')
	{
		$(".rd-nav-item a").on('click', function()
		{
			$(".rd-navbar-toggle").click();
		});

		$(".sites").each(function() {
				$(this).attr('src', $(this).attr('src').replace('-desktop-','-mobile-'));
		});	
	}

	$( "a:contains('Choose your plan')" ).on('click', function()
	{
		$('html, body').animate({
				scrollTop: ($('#pricing').offset().top - 50)
		},500);
	});

	{% comment %} $(".benefits").on('click', function()
	{
		$('html, body').animate({
				scrollTop: ($('#benefits').offset().top - 50)
		},500);
	});

	$(".testimonials").on('click', function()
	{
		$('html, body').animate({
				scrollTop: ($('#testimonials').offset().top - 80)
		},500);
	});

	$(".projects").on('click', function()
	{
		$('html, body').animate({
				scrollTop: ($('#projects').offset().top - 100)
		},500);
	});

	$(".pricing").on('click', function()
	{
		$('html, body').animate({
				scrollTop: ($('#pricing').offset().top - 100)
		},500);
	});

	$(".faqs").on('click', function()
	{
		$('html, body').animate({
				scrollTop: ($('#faq').offset().top - 80)
		},500);
	});

	$(".contacts").on('click', function()
	{
		$('html, body').animate({
				scrollTop: ($('#contacts').offset().top - 120)
		},500);
	}); {% endcomment %}
});

engine.other = function()
{
	loadJS('https://www.googletagmanager.com/gtag/js?id=UA-160168764-1', function()
	{
		gtag('js', new Date());
		gtag('config', 'UA-160168764-1');
	});

	(function(h,o,t,j,a,r){
			h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
			h._hjSettings={hjid:1785030,hjsv:6};
			a=o.getElementsByTagName('head')[0];
			r=o.createElement('script');r.async=1;
			r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
			a.appendChild(r);
	})(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');

	!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/20ccbe8ba7dae9dd39987444b/42aeab1f3da2fe4c0228de3ec.js");	
}
</script>