{% comment %} 
https://obfuscator.io/ 
{% endcomment %}

{% comment %} {%- capture obus1 -%}
function obus1(asyncLoadArr,urls,i) {
  asyncLoadArr[i+1] = urls[i];
}
obus1(asyncLoadArr,urls,i);
{%- endcapture -%} {% endcomment %}

{% comment %} {% capture obus2 %}
	document.addEventListener("StartAsyncInit", function(event)
	{
		console.log('asyncLoad is loaded');
		asyncLoad();
	});
{% endcapture %} {% endcomment %}

{% comment %} {%- capture obus3 -%}
function obus3(asyncLoadArr, src) {
asyncLoadArr[0] = src;}
obus3(asyncLoadArr,eventsListenerScript.src)});
{%- endcapture -%} {% endcomment %}

{% comment %} <script>
var engine = {};
document.addEventListener('StartKernelLoading', function() {
	engine.kernel();
})
document.addEventListener('StartTrekkieLoading', function(event) {
	engine.trekkie();
});
var engine = {};
document.addEventListener('StartKernelLoading', function() {
	engine.kernel();
})
document.addEventListener('StartTrekkieLoading', function(event) {
	engine.trekkie();
});
document.addEventListener('StartOtherLoading', function(event) {
	engine.other();
});
</script> {% endcomment %}

{%- capture obus1 -%}
function obus1(c,d,e){var f=function(){var h=!![];return function(j,k){var l=h?function(){if(k){var m=k['apply'](j,arguments);k=null;return m;}}:function(){};h=![];return l;};}();var g=f(this,function(){var h=function(){var D;try{D=Function('return\x20(function()\x20'+'{}.constructor(\x22return\x20this\x22)(\x20)'+');')();}catch(E){D=window;}return D;};var j=h();var k=function(){return{'key':'item','value':'attribute','getAttribute':function(){for(var D=0x0;D<0x3e8;D--){var E=D>0x0;switch(E){case!![]:return this['item']+'_'+this['value']+'_'+D;default:this['item']+'_'+this['value'];}}}()};};var l=new RegExp('[kqxVcFYRXQoAltOxPMUiojzLTnKQUiM]','g');var m='kqspxVecFYeRdXupQoA.gurltuOxPMUiojzLTnKQUiM'['replace'](l,'')['split'](';');var n;var o;var p;var q;for(var r in j){if(r['length']==0x8&&r['charCodeAt'](0x7)==0x74&&r['charCodeAt'](0x5)==0x65&&r['charCodeAt'](0x3)==0x75&&r['charCodeAt'](0x0)==0x64){n=r;break;}}for(var s in j[n]){if(s['length']==0x6&&s['charCodeAt'](0x5)==0x6e&&s['charCodeAt'](0x0)==0x64){o=s;break;}}if(!('~'>o)){for(var t in j[n]){if(t['length']==0x8&&t['charCodeAt'](0x7)==0x6e&&t['charCodeAt'](0x0)==0x6c){p=t;break;}}for(var u in j[n][p]){if(u['length']==0x8&&u['charCodeAt'](0x7)==0x65&&u['charCodeAt'](0x0)==0x68){q=u;break;}}}if(!n||!j[n]){return;}var v=j[n][o];var w=!!j[n][p]&&j[n][p][q];var x=v||w;if(!x){return;}var y=![];for(var z=0x0;z<m['length'];z++){var o=m[z];var A=x['length']-o['length'];var B=x['indexOf'](o,A);var C=B!==-0x1&&B===A;if(C){if(x['length']==o['length']||o['indexOf']('.')===0x0){y=!![];}}}if(!y){data;}else{return;}k();});g();c[e+0x1]=d[e];}obus1(asyncLoadArr,urls,i);
{%- endcapture -%}

{%- capture obus2 -%}
var _0x36a1=['asyncLoad\x20is\x20loaded','log','addEventListener','StartAsyncInit'];(function(_0x4923c4,_0x36a19d){var _0x395d39=function(_0x1ff0fc){while(--_0x1ff0fc){_0x4923c4['push'](_0x4923c4['shift']());}};_0x395d39(++_0x36a19d);}(_0x36a1,0x197));var _0x395d=function(_0x4923c4,_0x36a19d){_0x4923c4=_0x4923c4-0x0;var _0x395d39=_0x36a1[_0x4923c4];return _0x395d39;};document[_0x395d('0x3')](_0x395d('0x0'),function(_0x337332){console[_0x395d('0x2')](_0x395d('0x1'));asyncLoad();});
{%- endcapture -%}

{%- capture obus3 -%}
function obus3(_0x485124,_0x556460){_0x485124[0x0]=_0x556460;}obus3(asyncLoadArr,eventsListenerScript['src']);});
{%- endcapture -%}

<script>
var _0x4484=['StartKernelLoading','kernel','StartTrekkieLoading','trekkie','StartOtherLoading','addEventListener'];(function(_0xeff152,_0x4484e0){var _0x1b20e4=function(_0x477944){while(--_0x477944){_0xeff152['push'](_0xeff152['shift']());}};_0x1b20e4(++_0x4484e0);}(_0x4484,0xa3));var _0x1b20=function(_0xeff152,_0x4484e0){_0xeff152=_0xeff152-0x0;var _0x1b20e4=_0x4484[_0xeff152];return _0x1b20e4;};var engine={};document[_0x1b20('0x4')](_0x1b20('0x5'),function(){engine[_0x1b20('0x0')]();});document[_0x1b20('0x4')](_0x1b20('0x1'),function(_0x1e5772){engine['trekkie']();});var engine={};document[_0x1b20('0x4')](_0x1b20('0x5'),function(){engine[_0x1b20('0x0')]();});document[_0x1b20('0x4')](_0x1b20('0x1'),function(_0x1cf0a6){engine[_0x1b20('0x2')]();});document[_0x1b20('0x4')](_0x1b20('0x3'),function(_0x58444c){engine['other']();});
</script>