{% comment %} {%- capture __html -%}
	{% include '__opt-minified', minified: html %}</body></html>
{%- endcapture -%} {% endcomment %}

{%- capture __html -%}
	{{ html }}
{%- endcapture -%}

{%- assign html = __html
	| replace: '', ''
 -%}

{{ html }}