<!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'jquery3.1.1.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
<!--[if lte IE 9]><script src="{{ 'jquery3.1.1.js' | asset_url }}"></script><![endif]-->

{%- if template.name == 'index' -%}
	<!--[if (gt IE 9)|!(IE)]><!--><script src="{{ '__js_acounter.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
	<!--[if lte IE 9]><script src="{{ '__js_acounter.js' | asset_url }}"></script><![endif]-->

	<!--[if (gt IE 9)|!(IE)]><!--><script src="{{ '__js_autil.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
	<!--[if lte IE 9]><script src="{{ '__js_autil.js' | asset_url }}"></script><![endif]-->

	<!--[if (gt IE 9)|!(IE)]><!--><script src="{{ '__js_owlcarousel.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
	<!--[if lte IE 9]><script src="{{ '__js_owlcarousel.js' | asset_url }}"></script><![endif]-->	
{%- endif -%}

<!--[if (gt IE 9)|!(IE)]><!--><script src="{{ '__js_rdnavbar.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
<!--[if lte IE 9]><script src="{{ '__js_rdnavbar.js' | asset_url }}"></script><![endif]-->

<!--[if (gt IE 9)|!(IE)]><!--><script src="{{ '__js_regula.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
<!--[if lte IE 9]><script src="{{ '__js_regula.js' | asset_url }}"></script><![endif]-->

<!--[if (gt IE 9)|!(IE)]><!--><script src="{{ '__js_parallax.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
<!--[if lte IE 9]><script src="{{ '__js_parallax.js' | asset_url }}"></script><![endif]-->

<!--[if (gt IE 9)|!(IE)]><!--><script src="{{ '__js_rdinput.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
<!--[if lte IE 9]><script src="{{ '__js_rdinput.js' | asset_url }}"></script><![endif]-->

<!--[if (gt IE 9)|!(IE)]><!--><script src="{{ '__js_wow.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
<!--[if lte IE 9]><script src="{{ '__js_wow.js' | asset_url }}"></script><![endif]-->

<!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'script.min.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
<!--[if lte IE 9]><script src="{{ 'script.min.js' | asset_url }}"></script><![endif]-->

<script>
console.log('__opt-js-theme-4.011');

engine.load = function()
{
	loadCSS('{{ 'styles.min.css' | asset_url }}');

	$( "form" ).submit(function( event ) {
		if(!isValidated($( "form" ).find('[data-constraints]')))
		{
			return false;
		}
	});

	if(view_mode == 'mobile')
	{
		$(".rd-nav-item a").on('click', function()
		{
			$(".rd-navbar-toggle").click();
		});

		$(".sites").each(function() {
				$(this).attr('src', $(this).attr('src').replace('-desktop-','-mobile-'));
		});	
	}

	$( "a:contains('Choose your plan')" ).on('click', function()
	{
		$('html, body').animate({
				scrollTop: ($('#pricing').offset().top - 50)
		},500);
	});
}

engine.other = function()
{
	loadJS('https://www.googletagmanager.com/gtag/js?id=UA-160168764-1', function()
	{
		gtag('js', new Date());
		gtag('config', 'UA-160168764-1');
	});

	(function(h,o,t,j,a,r){
			h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
			h._hjSettings={hjid:1785030,hjsv:6};
			a=o.getElementsByTagName('head')[0];
			r=o.createElement('script');r.async=1;
			r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
			a.appendChild(r);
	})(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');

	!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/20ccbe8ba7dae9dd39987444b/42aeab1f3da2fe4c0228de3ec.js");	
}
</script>