<style>.lazyload{opacity:0}.lazyloading{opacity:1;transition:opacity .3s;.lazyloaded{opacity:1;transition:opacity 9ms}</style>
<style>.rd-navbar-wrap{height:auto!important}@media (max-width:640px){.mobile-off{display:none!important}}@media (min-width:641px){.desktop-off{display:none!important}}</style>