<script>
var _0x3ab0=['dispatchEvent','StartAsyncFasterLoading','StartAsyncLoading'];(function(_0x3167e2,_0x3ab056){var _0x105628=function(_0x58dff6){while(--_0x58dff6){_0x3167e2['push'](_0x3167e2['shift']());}};_0x105628(++_0x3ab056);}(_0x3ab0,0x133));var _0x1056=function(_0x3167e2,_0x3ab056){_0x3167e2=_0x3167e2-0x0;var _0x105628=_0x3ab0[_0x3167e2];return _0x105628;};var asyncLoadArr=[];var asyncLoadFaster=[];var asyncLoadLater=[];var j=0x0;var k=0x0;document['addEventListener'](_0x1056('0x0'),function(_0x149fb5){for(var _0x2f64a5=0x0;_0x2f64a5<asyncLoadFaster['length'];_0x2f64a5++){if(asyncLoadFaster[_0x2f64a5]!=undefined){loadJS(asyncLoadFaster[_0x2f64a5]);}}});document['addEventListener'](_0x1056('0x1'),function(_0x2842e2){for(var _0x3d776a=0x0;_0x3d776a<asyncLoadLater['length'];_0x3d776a++){if(asyncLoadLater[_0x3d776a]!=undefined){loadJS(asyncLoadLater[_0x3d776a]);}}});document['addEventListener']('StartAsyncInit',function(_0x5f0096){setTimeout(function(){for(var _0x392f7d=0x0;_0x392f7d<asyncLoadArr['length'];_0x392f7d++){if(asyncLoadArr[_0x392f7d]!=undefined){asyncLoadLater[k]=asyncLoadArr[_0x392f7d];}k++;}},0x64);setTimeout(function(){document[_0x1056('0x2')](new CustomEvent(_0x1056('0x0')));},0x1f4);});
</script>

{% comment %} <script>
var asyncLoadArr = []; var asyncLoadFaster = []; var asyncLoadLater = [];
var j = 0; var k = 0;

document.addEventListener("StartAsyncFasterLoading", function(event) {
	for (var i = 0; i < asyncLoadFaster.length; i++) {
		if(asyncLoadFaster[i] != undefined) 
		{
			loadJS(asyncLoadFaster[i]);
		}
	}
});

document.addEventListener("StartAsyncLoading", function(event) {
	for (var i = 0; i < asyncLoadLater.length; i++) {
		if(asyncLoadLater[i] != undefined)
		{
			loadJS(asyncLoadLater[i]);
		}
	}
});

document.addEventListener("StartAsyncInit", function(event) {
	setTimeout(function(){
		for (var i = 0; i < asyncLoadArr.length; i++) {
			if(asyncLoadArr[i] != undefined)
			{
				asyncLoadLater[k] = asyncLoadArr[i];
			}
			k++;
		}
	}, 100);

	setTimeout(function(){
		document.dispatchEvent(new CustomEvent('StartAsyncFasterLoading'));
	}, 500);	

});
</script> {% endcomment %}