{% include '__opt-js-content-for-header-vars' %}

{% capture js_content_for_header %}
	{{ 
		content_for_header 
	| replace: "x.parentNode.insertBefore(s, x);", obus1
	| replace: "window.attachEvent('onload', asyncLoad)", ""
	| replace: "window.addEventListener('load', asyncLoad, false);", obus2		
	| replace: "var customDocumentWrite", "(engine.kernel = function() { var customDocumentWrite"
	|	replace: "document.getElementsByTagName('head')[0].appendChild(eventsListenerScript)", obus3
	|	replace: "document.addEventListener('DOMContentLoaded', function() {", "document.addEventListener('DOMContentLoaded', function() { return;"
	| replace: "trekkie.ready(function() {", "(engine.trekkie = function(event) {"
	}}
{% endcapture %}

{% assign js_words = js_content_for_header | split: '<script ' %}

{% for word in js_words %}
	{% if word contains 'defer="defer" src="' %}
		{% capture js_content_for_header %}
			{% capture __replace %}<script {{word}}{% endcapture %}
			{{ js_content_for_header | replace: __replace, '' }}
		{% endcapture %}
	{% endif %}
{% endfor %}

{% capture js_content_for_header_defer %}
	{% for word in js_words %}
		{% if word contains 'defer="defer" src="' %}
			<script {{ word }}
		{% endif %}
	{% endfor %}
{% endcapture %}

{% include '__opt-js-content-for-header-async' %}