<script>

(function () {
	if ( typeof window.CustomEvent === "function" ) return false; //If not IE

	function CustomEvent ( event, params ) {
		params = params || { bubbles: false, cancelable: false, detail: undefined };
		var evt = document.createEvent( 'CustomEvent' );
		evt.initCustomEvent( event, params.bubbles, params.cancelable, params.detail );
		return evt;
	}

	CustomEvent.prototype = window.Event.prototype;

	window.CustomEvent = CustomEvent;
})();

var view_mode = false;
var md = new MobileDetect(window.navigator.userAgent);

if(md.mobile())
{
	view_mode = 'mobile';
}
else
{
	view_mode = 'desktop';
}

if(md.tablet())
{
	view_mode = 'desktop';
}

document.addEventListener("DOMContentLoaded", function(event) 
{
	engine.load();
	
	setTimeout(function(){
		$("body").fadeTo( "slow", 1 );
	}, 150);

	if(view_mode == 'mobile')
	{
		setTimeout(function(){
			document.dispatchEvent(new CustomEvent('StartKernelLoading'));
			setTimeout(function(){
				document.dispatchEvent(new CustomEvent('StartAsyncInit'));
			}, 500);			
		}, 1900);

		setTimeout(function(){
			document.dispatchEvent(new CustomEvent('StartTrekkieLoading'));
		}, 7500);
	}
	else
	{
		setTimeout(function(){
			document.dispatchEvent(new CustomEvent('StartKernelLoading'));
			setTimeout(function(){
				document.dispatchEvent(new CustomEvent('StartAsyncInit'));
			}, 100);			
		}, 3500);

		setTimeout(function(){
			document.dispatchEvent(new CustomEvent('StartScriptsLoading'));
		}, 1500);		

		setTimeout(function(){
			document.dispatchEvent(new CustomEvent('StartTrekkieLoading'));
		}, 4800);		
	}

	setTimeout(function(){
		document.dispatchEvent(new CustomEvent('StartOtherLoading'));
	}, 5000);	

	setTimeout(function(){
		document.dispatchEvent(new CustomEvent('StartAsyncLoading'));
	}, 7500);
});

document.addEventListener("StartScriptsLoading", function(event)
{	
	if(view_mode == 'mobile')
	{
		setTimeout(function(){
			document.dispatchEvent(new CustomEvent('StartScriptsLoaded'));
		}, 1500);
	}
	else
	{
		setTimeout(function(){
			document.dispatchEvent(new CustomEvent('StartScriptsLoaded'));
		}, 1500);
	}
});

document.addEventListener("StartScriptsLoaded", function(event)
{
	$('#__load_section-footer').load("{{ shop.url }}?section_id=footer");
});

</script>