<script src="{{ 'core.min.js' | asset_url }}"></script>
<script src="{{ 'script.js' | asset_url }}"></script>

{% comment %} {%- if template.name == 'index' -%}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>

	<!-- viemo api -->
	<script src="https://player.vimeo.com/api/player.js"></script>

	<script>
		// If you want to control the embeds, you’ll need to create a Player object.
		// You can pass either the `<div>` or the `<iframe>` created inside the div.
		/* get video element */
		var viemo_player = new Vimeo.Player('video_object');
		viemo_player.on('play', function() {

		});
		viemo_player.on('pause', function() {

		});
		//When the player is ready, set the volume to 0
		viemo_player.ready().then(function() {
			viemo_player.setVolume(0);
		});

		$('#video_object').waypoint(
			function(direction) {
				if (direction === 'down') {
					viemo_player.play();
					viemo_player.setVolume(1);
				}
			}, {
				offset: '30%'
			});
	</script>	
{%- endif -%} {% endcomment %}