<section class="section section-md bg-default text-center"{%- if section.settings.anchor != blank -%}id="{{ section.settings.anchor }}"{%- endif -%}>
	<div class="container">
		<div class="row row-fix justify-content-center wow fadeInUp">
			<div class="col-xl-8 col-lg-10">
				{{ 
					content_for_layout
					| replace: 'shopify-challenge__button', 'shopify-challenge__button button button-secondary'
				}}
			</div>
		</div>
	</div>
</section>

<style>
.shopify-challenge__message
{
	margin-bottom: 0;
	font-family: "Merriweather", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	font-weight: 700;
	color: #293043;
	line-height: 1.25;
	font-size: 36px;
	padding-bottom:50px;
}
.shopify-challenge__button 
{
	margin-top: 30px !important;
}
</style>