{% comment %} If you want use original css and js files please set production variable false {% endcomment %}
{%- assign production = true -%}

{%- if request.host contains 'myshopify.com' -%}
	{%- assign is_admin_interface = true -%}
{%- else -%}
	{%- assign is_admin_interface = false -%}
{%- endif -%}

{%- if template.name == 'cart' -%}
	{%- assign is_admin_interface = true -%}
{%- endif -%}

{%- if production == false -%}
	{%- assign is_admin_interface = true -%}
{%- endif -%}


<!DOCTYPE html>
<html class="wide wow-animation" lang="{{ shop.locale }}">
  <head>
		{% comment %} {% include '__css-critical' %} {% endcomment %}
		{% include '__opt-js-md' %}
		{% include '__opt-js-functions' %}

    <title>{{ shop.name }} | {{ page.title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="{{ 'favicon.ico' | asset_url }}" type="image/x-icon">
    <style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}</style>
		
		{%- if is_admin_interface -%}
			{{ content_for_header }}	
		{%- else -%}
			{% include '__opt-js-content-for-header' %}
			{{ js_content_for_header }}
		{%- endif -%}

		<base href="/">
	</head>
  <body class="template-{{ template | split: '.' | first }}">
{{ content_for_layout }}
<style type="text/css">
body, html {
width: 100% !important;
background: white !important;
}
</style>
{{ content_for_header }}
</body>
</html>