{%- if request.host contains 'myshopify.com' -%}
	{%- assign is_admin_interface = true -%}
{%- else -%}
	{%- assign is_admin_interface = false -%}
{%- endif -%}

{%- if template.name == 'cart' -%}
	{%- assign is_admin_interface = true -%}
{%- endif -%}

{%- capture html -%}
<!DOCTYPE html>
<html class="wide wow-animation" lang="{{ shop.locale }}">
  <head>
		{% include '__opt-css-theme-fonts-min' %}
		{% if template == 'index' %}
			<title>{{ shop.name }}</title>
		{% elsif template == 'password' %}
			<title>{{ shop.name }}</title>
		{% else %}
			<title>{{ page_title }} | {{ shop.name }}</title>
		{% endif %}

		{% if page_description %}
		<meta name="description" content="{{ page_description }}" />
		{% endif %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="{{ 'favicon.ico' | asset_url }}" type="image/x-icon">
    <style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}</style>
		
		{% include '__css-index' %}

	</head>
  <body style="opacity:{%- if is_admin_interface -%}1{%- else -%}1{%- endif -%};">
    <div class="ie-panel"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img class="lazyload" data-src="{{ 'warning_bar_0000_us.jpg' | asset_url }}" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>

		<div class="page">
			{% section 'header' %}

			{% if request.path == '/challenge' %}
				{% include 'challenge' %}				
			{% else %}
				{{ content_for_layout }}
			{% endif %}		

			{%- if is_admin_interface -%}
				{% section 'footer' %}
			{%- else -%}
				<div id="__load_section-footer"></div>
			{%- endif -%}
			
		</div>

		{%- if is_admin_interface -%}
			{{ content_for_header }}	
		{%- else -%}
			{% include '__opt-js-content-for-header' %}
			{{ js_content_for_header }}
		{%- endif -%}		

		{% include '__opt-css-theme' %}	
		{% include '__opt-js-theme-main' %}

  </body>
</html>
{%- endcapture -%}

{{ html }}