<!-- Section Empty Gradient-->
<section class="section section-inset-7 bg-gradient-primary"{%- if section.settings.anchor != blank -%}id="{{ section.settings.anchor }}"{%- endif -%}>
	<div class="container">
		<div class="row row-30 align-items-center wow fadeInUp">
			<div class="col-xxl-6 col-xl-7 col-md-8">
				<div class="box-border-left">
					{%- if section.settings.head != blank -%}
						<h2>{{ section.settings.head }}</h2>
					{% endif %}
					{%- if section.settings.text != blank -%}
						<p class="mt-0">{{ section.settings.text }}</p>
					{% endif %}
				</div>
			</div>
			{%- if section.settings.button_text != blank -%}
			<div class="col-xxl-6 col-xl-5 col-md-4 text-xl-left text-md-right">
				<a class="button button-secondary button-nuka announcement" href="{{ section.settings.button_url }}">{{ section.settings.button_text }}<span class="button-overlay"></span></a>
			</div>
			{% endif %}
		</div>
	</div>
</section>

<style>
	div#shopify-section-{{ section.id }} .bg-gradient-primary {
		background: linear-gradient(270deg, {{ section.settings.color_start }} 0%, {{ section.settings.color_stop }} 100.44%) !important;
	}
</style>

{% schema %}
  {
    "name": "Announcement",
		"tag": "div",
		"settings": [
					{
						"id": "anchor",
						"type": "text",
						"label": "Anchor"
					},			
					{
						"id": "head",
						"type": "text",
						"label": "Head"
					},			
					{
						"id": "text",
						"type": "textarea",
						"label": "Text"
					},
					{
						"id": "button_url",
						"type": "url",
						"label": "Button link"
					},					
					{
						"id": "button_text",
						"type": "text",
						"label": "Button text"
					},
					{
						"type":      "color",
						"id":        "color_stop",
						"label":     "Gragient color 'from'",
						"default":   "#028dfc"
					},					
					{
						"type":      "color",
						"id":        "color_start",
						"label":     "Gragient color 'to'",
						"default":   "#01C9F5"
					}					
				],
				"presets": [
					{
						"category": "Custom Content",
						"name": "Announcement"
					}
				]						
  }
{% endschema %}