<!-- Tips from Our Team-->
{% paginate blog.articles by section.settings.articles-per-page %}
<section class="section section-md bg-default" id="our-tips">
	<div class="container">
		<div class="text-center wow fadeInUp">
			<h1>{{ blog.title }}</h1>
			<h6>There are articles in our blog</h6>
		</div>
		<div class="row row-md row-30 justify-content-center wow fadeInUp">
			{% for article in blog.articles %}
			{%- assign load_img = article -%}
			<div class="col-xl-4 col-lg-4 col-sm-6">
				<article class="post-corporate">
					<figure class="post-corporate-figure"><a class="link-img" href="{{ article.url }}">
						<img src="{{ load_img | img_url: '600x' }}" alt="{{ article.title | escape }}" width="600" /></a>
					</figure>
					<h4 class="post-corporate-title"><a href="{{ article.url }}">{{ article.title }}</a></h4>
				</article>
			</div>
			{% endfor %}
		</div>
	</div>
	<div class="container">
		<div class="row row-md row-30 justify-content-center wow fadeInUp">
				{% include 'snippet-pagination' %}
		</div>
	</div>
</section>
{% endpaginate %}

{% comment %} {% paginate blog.articles by section.settings.articles-per-page %}

<div class="row blog-title">
  <div class="columns large-12">
    <h1 class="text">{{ blog.title }}</h1>
  </div>
</div>

<div class="left-two-columns-wrapper row">
  <!-- Begin content -->
  <div class="articles columns large-9">
    {% if blog.articles.size <= 0 %}
      <h2>{{ 'blog.article.no_articles' | t }}</h2>
    {% endif %}

    {% for article in blog.articles %}
    <div class="article clearfix">
      <div class="left-sidebar columns large-3 show--large">
        <div class="date block">
          <h3 class="title">{{ 'blog.article.date' | t }}</h3>
          <p class="content">{{ article.published_at | date: format: 'month_day_year' }}</p>
        </div>

        <div class="author block">
          <h3 class="title">{{ 'blog.article.written_by' | t }}</h3>
          <p class="content">{{ article.author }}</p>
        </div>

        {% if article.comments_enabled? %}
        <div class="comments block">
            <h3 class="title">{{ 'blog.article.comments' | t }}</h3>
            {% assign lang_comment = 'blog.article.comment' | t %}
            {% assign lang_comments = 'blog.article.comments' | t %}
            <p class="content">{{ article.comments_count }} {{ article.comments_count | pluralize: lang_comment, lang_comments }}</p>
        </div>
        {% endif %}
      </div>

      <div class="middle-column columns large-9">
        <h1 class="title"><a href="{{ article.url }}">{{ article.title }}</a></h1>
        <p class="mobile-meta show--small-medium">
          {% assign published_date = article.published_at | date: format: 'month_day_year' %}
          {{ 'blog.article.written_by' | t }} {{ article.author }} - {{ published_date }}
        </p>

        {% if article.image %}
          <div class="featured-image">
            <a href="{{ article.url }}" title="{{ blog.title }}">
              {%
                include "framework--image",
                image: article.image
              %}
            </a>
          </div>
        {% endif %}

        <div class="content rte-content colored-links">
          {{ article.excerpt_or_content }}

          {% if article.excerpt != blank %}
          <p class="read-more">
            <a href="{{ article.url }}">
              {{ 'blog.article.read_more' | t }}
            </a>
          </p>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <!-- Begin sidebar -->
  {% include 'snippet-blog-sidebar' %}
  <!-- End sidebar -->

</div>
<!-- End content -->
<div class="row">
  <div class="right columns large-6">
    {% include 'snippet-pagination' %}
  </div>
</div>
{% endpaginate %} {% endcomment %}

{% schema %}
{
  "name": "Blog articles",
  "settings": [
    {
      "label": "Articles per page",
      "id": "articles-per-page",
      "type": "range",
      "min": 6,
      "max": 24,
      "step": 6,
      "default": 6
    }
  ]
}
{% endschema %}