<section class="section section-md bg-default"{%- if section.settings.anchor != blank -%}id="{{ section.settings.anchor }}"{%- endif -%}>
	<div class="container">
		<div class="row row-fix row-30 align-items-center justify-content-center wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
			<div class="col-xl-5 col-lg-8 col-md-9 text-center text-xl-left wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
				{%- if section.settings.title != blank -%}
					<h6>{{ section.settings.title }}</h6>
				{% endif %}
				{%- if section.settings.head != blank -%}
					<h2>{{ section.settings.head }}</h2>
				{% endif %}
				{%- if section.settings.text != blank -%}
					<p class="big">{{ section.settings.text }}</p>
				{%- endif -%}
			</div>
			<div class="col-xl-7 col-lg-9 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
				<!--RD Mailform-->
				<form id="contact_form" accept-charset="UTF-8" class="rd-form rd-form-corporate" data-form-output="form-output-global" data-form-type="contact" method="post" action="{{ section.settings.mail_url }}" novalidate="novalidate">
					<input type="hidden" name="form_type" value="contact" /><input type="hidden" name="utf8" value="✓" />
					<div class="row row-fix row-20 row-narrow">
						<div class="col-md-6">
							<div class="form-wrap">
								<input class="form-input form-control-has-validation" id="contact-name" type="text" name="contact[name]" data-constraints="@Required"><span class="form-validation"></span>
								<label class="form-label rd-input-label" for="contact-name">{{ section.settings.mail_name }} <span class="text-primary">*</span></label>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-wrap">
								<input class="form-input form-control-has-validation" id="contact-email" type="email" name="contact[email]" data-constraints="@Email @Required"><span class="form-validation"></span>
								<label class="form-label rd-input-label" for="contact-email">{{ section.settings.mail_email }} <span class="text-primary">*</span></label>
							</div>
						</div>
						<div class="col-12">
							<div class="form-wrap">
								<textarea class="form-input" id="contact-message" name="contact[body]"></textarea>
								<label class="form-label rd-input-label" for="contact-message">{{ section.settings.mail_message }}</label>
							</div>
						</div>
					</div>
					<button class="button button-secondary button-nuka" type="submit">{{ section.settings.button_text }}<span class="button-overlay" style="top: -16px; left: 11px;"></span></button>
				</form>
			</div>
		</div>
	</div>
</section>

{% schema %}
  {
    "name": "Contacts",
		"tag": "div",
		"settings": [
					{
						"id": "anchor",
						"type": "text",
						"label": "Anchor"
					},			
					{
						"id": "title",
						"type": "text",
						"label": "Title"
					},
					{
						"id": "head",
						"type": "textarea",
						"label": "Head"
					},								
					{
						"id": "text",
						"type": "textarea",
						"label": "Text"
					},
					{
						"id": "mail_url",
						"type": "url",
						"label": "Mail url"
					},
					{
						"id": "mail_name",
						"type": "text",
						"label": "Mail name",
						"default": "Your name"
					},
					{
						"id": "mail_email",
						"type": "text",
						"label": "Mail email",
						"default": "Your email address"
					},
					{
						"id": "mail_message",
						"type": "text",
						"label": "Mail message",
						"default": "Your message"
					},																				
					{
						"id": "button_text",
						"type": "text",
						"label": "Button text",
						"default": "Send"
					}					
				],
				"presets": [
					{
						"category": "Custom Content",
						"name": "Contacts"
					}
				]						
  }
{% endschema %}