<section class="section section-md bg-default"{%- if section.settings.anchor != blank -%}id="{{ section.settings.anchor }}"{%- endif -%}>
	<div class="container">
		<div class="text-center wow fadeInUp">
			{%- if section.settings.title != blank -%}
				<h6>{{ section.settings.title }}</h6>
			{% endif %}
			{%- if section.settings.head != blank -%}
				<h2>{{ section.settings.head }}</h2>
			{% endif %}
		</div>
		<div class="row row-fix justify-content-center wow fadeInUp">
			<div class="col-xl-10">
				<div class="row row-40">
					<div class="col-md-12">
						<ul class="list-terms">
							{% for block in section.blocks %}
							<li class="list-terms-item">
								<h4 class="list-terms-title">{{ block.settings.head }}</h4>
								<p class="list-terms-text">{{ block.settings.text }}</p>
							</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% schema %}
  {
    "name": "Faq",
		"tag": "div",
		"settings": [
					{
						"id": "anchor",
						"type": "text",
						"label": "Anchor"
					},			
					{
						"id": "title",
						"type": "text",
						"label": "Title"
					},					
					{
						"id": "head",
						"type": "textarea",
						"label": "Head"
					}				
				],
				"blocks": [
					{
						"type": "text",
						"name": "list",
						"settings": [
							{
								"type": "text",
								"id": "head",
								"label": "Head"
							},
							{
								"type": "textarea",
								"id": "text",
								"label": "Text"
							}							
						]
					}
				],			
				"presets": [
					{
						"category": "Custom Content",
						"name": "Faq"						
					}											
				]						
  }
{% endschema %}