<!-- Footer-->
<footer class="section footer-corporate bg-gray-800 position-relative">
	<svg class="wave-dark" width="1920" height="713" viewBox="0 0 1920 713" fill="none">
		<path class="wave-path wave-path-1" d="M1920 463.314V713H0V414.325C0.0515862 414.316 0.103105 414.308 0.154556 414.299C59.8232 467.769 270.664 573.445 636.676 568.392C873.316 565.126 1040.4 505.514 1188.57 452.65C1326.86 403.309 1448.68 359.846 1595.21 373.565C1727.41 385.944 1837.94 423.471 1920 463.314Z" fill="white"></path>
		<path class="wave-path wave-path-2" d="M1920 463.988V713H0V234.66C102.275 199.182 221.353 170.486 354.422 158.026C584.381 136.494 775.567 204.707 992.611 282.146C1225.15 365.113 1373 457.092 1858.75 463.796C1879.49 464.082 1899.9 464.142 1920 463.988Z" fill="white"></path>
		<path class="wave-path wave-path-3" d="M1920 85.9538V713H0V310.063C15.2357 310.099 30.6508 310.012 46.2454 309.796C417.632 304.67 679.852 211.113 912.389 128.146C1129.43 50.7068 1320.62 -17.5061 1550.58 4.02629C1690.21 17.1004 1814.43 48.0502 1920 85.9538Z" fill="white"></path>
	</svg>
	<div class="container">
		<div class="footer-corporate-main text-center wow fadeInUp">
			{%- if section.settings.title != blank -%}
				<h6>{{ section.settings.title }}</h6>
			{% endif %}
			{%- if section.settings.head != blank -%}
				<h2 class="heading-1">{{ section.settings.head }}</h2>
			{% endif %}
			{%- if section.settings.text != blank -%}
				<p class="big">{{ section.settings.text }}</p>
			{%- endif -%}
		</div>
		<div class="footer-corporate-aside text-center text-xl-left wow fadeInUp">
			<div class="footer-corporate-aside-top">
				<div class="footer-corporate-nav">
					<ul>
						{% for link in linklists.footer.links %}
							<li>
								<a href="{{ link.url }}">{{ link.title | escape }}</a>
							</li>
						{% endfor %}
					</ul>
				</div>
				<div>
					<ul class="list-social">
						{%- if section.settings.profile_youtube != blank -%}
							<li><a class="link-social icon fa-youtube-play" href="{{ section.settings.profile_youtube }}"></a></li>
						{% endif %}						
						{%- if section.settings.profile_facebook != blank -%}
							<li><a class="link-social icon fa-facebook-f" href="{{ section.settings.profile_facebook }}"></a></li>
						{% endif %}	
						{%- if section.settings.profile_instagram != blank -%}
							<li><a class="link-social icon fa-instagram" href="{{ section.settings.profile_instagram }}"></a></li>
						{% endif %}
						{%- if section.settings.profile_twitter != blank -%}
							<li><a class="link-social icon fa-twitter" href="{{ section.settings.profile_twitter }}"></a></li>
						{% endif %}	
						{%- if section.settings.profile_linkedin != blank -%}
							<li><a class="link-social icon fa-linkedin" href="{{ section.settings.profile_linkedin }}"></a></li>
						{% endif %}																						
					</ul>
				</div>
			</div>
			<p style="text-align:center">
				<a href="https://partners.shopify.com/" target="_blank" rel="noreferrer" title="Shopify Experts">
					<img class="lazyload" alt="Shopify experts" data-src="{{ 'shopify-experts.png' | asset_url }}" />
				</a>
			</p>
			{%- if section.settings.bottom_text != blank -%}
			<br />
			<p style="text-align:center">
			{{ section.settings.bottom_text }}
			</p>
			{% endif %}
		</div>
	</div>
</footer>

{% schema %}
  {
    "name": "Footer",
		"tag": "div",
		"settings": [
		{
			"id": "title",
			"type": "text",
			"label": "Title"
		},
		{
			"id": "head",
			"type": "textarea",
			"label": "Head"
		},								
		{
			"id": "text",
			"type": "textarea",
			"label": "Text"
		},					
		{
			"id": "bottom_text",
			"type": "text",
			"label": "Bottom text"
		},
		{
			"id": "profile_youtube",
			"type": "url",
			"label": "Profile youtube"
		},
		{
			"id": "profile_facebook",
			"type": "url",
			"label": "Profile facebook"
		},
		{
			"id": "profile_instagram",
			"type": "url",
			"label": "Profile instagram"
		},
		{
			"id": "profile_twitter",
			"type": "url",
			"label": "Profile twitter"
		},
		{
			"id": "profile_linkedin",
			"type": "url",
			"label": "Profile linkedin"
		}												
	]					
  }
{% endschema %}