<style>
.page-header{background-color:#1E2435}
@media (min-width:1281px){.page-header{height:160px}}@media (min-width:1025px) and (max-width:1280px){.page-header{height:auto!important}}@media (min-width:768px) and (max-width:1024px){.page-header{height:auto!important}}@media (min-width:768px) and (max-width:1024px) and (orientation:landscape){.page-header{height:auto!important}}@media (min-width:481px) and (max-width:767px){.page-header{height:auto!important}}@media (min-width:320px) and (max-width:480px){.page-header{height:auto!important}}
</style>
<header class="section page-header">
	<!--RD Navbar-->
	<div class="rd-navbar-wrap">
		<nav class="rd-navbar rd-navbar-corporate" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-xl-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-fixed" data-xl-device-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="46px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
			<div class="rd-navbar-collapse-toggle rd-navbar-fixed-element-1 mobile-off" data-rd-navbar-toggle=".rd-navbar-collapse"><span></span></div>
			<div class="rd-navbar-main-outer">
				<div class="rd-navbar-main">
					<!--RD Navbar Panel-->
					<div class="rd-navbar-panel">
						<!--RD Navbar Toggle-->
						<button aria-label="Navbar toogle" class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
						<!--RD Navbar Brand-->
						<div class="rd-navbar-brand">
							<!--Brand-->
							<a class="brand" href="{{ shop.url }}" title="{{ shop.name }}">
								{%- if section.settings.image != blank -%}
								<img class="brand-logo-light lazyload" src="{{ section.settings.image  | img_url: '180x' }}" alt="SpeedUpGuru" />
								{% endif %}
							</a>
						</div>
					</div>
					<div class="rd-navbar-main-element">
						<div class="rd-navbar-nav-wrap">
							<ul class="rd-navbar-nav">
							{% for link in linklists.main-menu.links %}
								<li class="rd-nav-item">
									{%- if link.title == 'Blog' -%}
										<a href="{{ link.url }}" class="rd-nav-link {{ link.title | escape | replace: ' ', '-' | downcase }}">{{ link.title | escape }}</a>
									{%- else -%}
										<a href="{{ shop.url }}#{{ link.title | escape | downcase }}" class="rd-nav-link {{ link.title | escape | replace: ' ', '-' | downcase }}">{{ link.title | escape }}</a>
									{%- endif -%}
										{% if link.links != blank %}
											<ul class="rd-menu rd-navbar-dropdown">
												{% for child_link in link.links %}
													<li class="rd-dropdown-item">
														<a class="rd-dropdown-link" href="{{ child_link.url }}">{{ child_link.title | escape }}</a>
													</li>
												{% endfor %}
											</ul>
										{% endif %}
								</li>
							{% endfor %}
							</ul>
						</div>
						{%- if section.settings.button_text != blank -%}
						<div class="rd-navbar-collapse">
							<a class="button button-secondary button-nuka check-for-free" href="{{ section.settings.button_url }}">{{ section.settings.button_text }}<span class="button-overlay"></span></a>
						</div>
						{% endif %}
					</div>
				</div>
			</div>
		</nav>
	</div>
</header>

{% schema %}
  {
    "name": "Header",
		"settings": [
			{
				"type": "image_picker",
				"id": "image",
				"label": "Image"
			},
			{
				"id": "button_text",
				"type": "text",
				"label": "Button text"
			},
			{
				"id": "button_url",
				"type": "url",
				"label": "Button link"
			}														
		]						
  }
{% endschema %}