<section class="section section-md bg-default">
	<div class="container">
		<div class="row row-30 align-items-center wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
			<div class="">
				<ul class="list-corporate">
				{% for block in section.blocks %}
					<li class="list-corporate-item unit">
						<div class="unit-left list-corporate-check box-shadow-2"></div>
						<div class="unit-body">
							<h4 class="list-corporate-title">{{ block.settings.head }}</h4>
							<p class="list-corporate-text">{{ block.settings.text }}</p>
						</div>
					</li>
				{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</section>

{% schema %}
  {
    "name": "List",
		"tag": "div",
		"blocks": [
			{
				"type": "text",
				"name": "list",
				"settings": [
					{
						"type": "text",
						"id": "head",
						"label": "Head"
					},
					{
						"type": "textarea",
						"id": "text",
						"label": "Text"
					}							
				]
			}
		],			
		"presets": [
			{
				"category": "Custom Content",
				"name": "List"						
			}											
		]						
  }
{% endschema %}