<section class="section section-md bg-gray-800 oh text-center"{%- if section.settings.anchor != blank -%}id="{{ section.settings.anchor }}"{%- endif -%}>
	<svg class="wave-dark wave-dark-1" width="1920" height="713" viewBox="0 0 1920 713" fill="none">
		<path class="wave-path wave-path-1" d="M1920 463.314V713H0V414.325C0.0515862 414.316 0.103105 414.308 0.154556 414.299C59.8232 467.769 270.664 573.445 636.676 568.392C873.316 565.126 1040.4 505.514 1188.57 452.65C1326.86 403.309 1448.68 359.846 1595.21 373.565C1727.41 385.944 1837.94 423.471 1920 463.314Z" fill="white"></path>
		<path class="wave-path wave-path-2" d="M1920 463.988V713H0V234.66C102.275 199.182 221.353 170.486 354.422 158.026C584.381 136.494 775.567 204.707 992.611 282.146C1225.15 365.113 1373 457.092 1858.75 463.796C1879.49 464.082 1899.9 464.142 1920 463.988Z" fill="white"></path>
		<path class="wave-path wave-path-3" d="M1920 85.9538V713H0V310.063C15.2357 310.099 30.6508 310.012 46.2454 309.796C417.632 304.67 679.852 211.113 912.389 128.146C1129.43 50.7068 1320.62 -17.5061 1550.58 4.02629C1690.21 17.1004 1814.43 48.0502 1920 85.9538Z" fill="white"></path>
	</svg>
	<div class="container">
		{%- if section.settings.title != blank -%}
			<h6>{{ section.settings.title }}</h6>
		{% endif %}	
		{%- if section.settings.head != blank -%}
			<h2>{{ section.settings.head }}</h2>
		{% endif %}
		<div class="divider-lg"></div>
		<div class="row justify-content-center">
			<div class="col-md-10 col-lg-9">
			{%- if section.settings.text != blank -%}
				<p>{{ section.settings.text }}</p>
			{%- endif -%}			
			</div>
		</div>
		<div class="row icon-modern-list no-gutters">
			{% for block in section.blocks %}
			<div class="col-sm-6 col-lg-4">
				<article class="box-icon-modern modern-variant-2" style="margin-bottom:30px;">
					<div class="icon-modern">
						{%- if block.settings.image != blank -%}
							<img class="lazyload" width="80" height="80" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-src="{{ block.settings.image  | img_url: '80x' }}" alt="{{ block.settings.alt }}" />
						{%- endif -%}
					</div>
					<h4 class="box-icon-modern-title">{{ block.settings.head }}</h4>
					<div class="divider"></div>
					<p>{{ block.settings.text }}</p>
				</article>
			</div>
			{% endfor %}
		</div>
	</div>
</section>


{% schema %}
  {
    "name": "Offer",
		"tag": "div",
		"settings": [
					{
						"id": "anchor",
						"type": "text",
						"label": "Anchor"
					},			
					{
						"id": "title",
						"type": "text",
						"label": "title"
					},					
					{
						"id": "head",
						"type": "textarea",
						"label": "head"
					},								
					{
						"id": "text",
						"type": "textarea",
						"label": "Text"
					}					
				],
				"blocks": [
					{
						"type": "text",
						"name": "list",
						"settings": [
							{
								"type": "text",
								"id": "head",
								"label": "Head"
							},
							{
								"type": "textarea",
								"id": "text",
								"label": "Text"
							},
							{
								"type": "image_picker",
								"id": "image",
								"label": "Image"
							}														
						]
					}
				],			
				"presets": [
					{
						"category": "Custom Content",
						"name": "Offer"						
					}											
				]						
  }
{% endschema %}