<section class="section section-md section-md-5 text-center bg-wave-dark-wrap pb-0">
	<div class="bg-wave-dark bg-wave-dark-2 bg-gray-800 oh-1">
		<svg class="wave-dark wave-dark-2" width="1920" height="713" viewBox="0 0 1920 713" fill="none">
			<path class="wave-path wave-path-1" d="M1920 463.314V713H0V414.325C0.0515862 414.316 0.103105 414.308 0.154556 414.299C59.8232 467.769 270.664 573.445 636.676 568.392C873.316 565.126 1040.4 505.514 1188.57 452.65C1326.86 403.309 1448.68 359.846 1595.21 373.565C1727.41 385.944 1837.94 423.471 1920 463.314Z" fill="white"></path>
			<path class="wave-path wave-path-2" d="M1920 463.988V713H0V234.66C102.275 199.182 221.353 170.486 354.422 158.026C584.381 136.494 775.567 204.707 992.611 282.146C1225.15 365.113 1373 457.092 1858.75 463.796C1879.49 464.082 1899.9 464.142 1920 463.988Z" fill="white"></path>
			<path class="wave-path wave-path-3" d="M1920 85.9538V713H0V310.063C15.2357 310.099 30.6508 310.012 46.2454 309.796C417.632 304.67 679.852 211.113 912.389 128.146C1129.43 50.7068 1320.62 -17.5061 1550.58 4.02629C1690.21 17.1004 1814.43 48.0502 1920 85.9538Z" fill="white"></path>
		</svg>
	</div>
	<div class="container" {%- if section.settings.anchor != blank -%}id="{{ section.settings.anchor }}"{%- endif -%}>
		{%- if section.settings.head != blank -%}
			<h2>{{ section.settings.head }}</h2>
		{% endif %}
		<div class="row row-sm justify-content-center">
			<div class="col-xl-10">
				<!-- Owl Carousel-->
				<div class="owl-carousel owl-pricing-corporate owl-loaded" data-items="1" data-md-items="2" data-lg-items="3" data-dots="true" data-nav="true" data-autoplay="false" data-loop="false" data-margin="30" data-lg-margin="0" data-mouse-drag="false" data-auto-height="true" style="">
					
				<div class="owl-stage-outer owl-height" style="height: 667px;"><div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 1050px;">

				{% for block in section.blocks %}
				<div class="owl-item active" style="width: 349.993px;">
					{%- if forloop.index == 2 -%}
						<article class="pricing-corporate main wow fadeInUp" data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
					{%- else -%}
						<article class="pricing-corporate wow fadeInUp" data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
					{%- endif -%}
						{%- if forloop.index == 2 -%}
							<div class="pricing-corporate-header bg-gradient-primary">
						{%- else -%}
							<div class="pricing-corporate-header bg-gradient">
						{%- endif -%}
							{%- if block.settings.save != blank -%}
							<div class="badge">{{ block.settings.save }}</div>
							{% endif %}
							<h4 class="pricing-corporate-title">{{ block.settings.head }}</h4>
							<div class="heading-1 pricing-corporate-price">${{ block.settings.price }}</div>
							{%- if block.settings.duration != blank -%}
							<div class="pricing-corporate-duration">{{ block.settings.duration }}</div>
							{% endif %}
						</div>
						<div class="pricing-corporate-body">
							<ul class="pricing-corporate-list">
								{%- if block.settings.option1 != blank -%}
								<li class="pricing-corporate-item">{{ block.settings.option1 }}</li>
								{% else %}
								<li>&nbsp;</li>
								{% endif %}
								{%- if block.settings.option2 != blank -%}
								<li class="pricing-corporate-item">{{ block.settings.option2 }}</li>
								{% else %}
								<li>&nbsp;</li>								
								{% endif %}
								{%- if block.settings.option3 != blank -%}
								<li class="pricing-corporate-item">{{ block.settings.option3 }}</li>
								{% else %}
								<li>&nbsp;</li>								
								{% endif %}
								{%- if block.settings.option4 != blank -%}
								<li class="pricing-corporate-item">{{ block.settings.option4 }}</li>
								{% else %}
								<li>&nbsp;</li>
								{% endif %}
								{%- if block.settings.option5 != blank -%}
								<li class="pricing-corporate-item">{{ block.settings.option5 }}</li>
								{% else %}
								<li>&nbsp;</li>
								{% endif %}
								{%- if block.settings.option6 != blank -%}
								<li class="pricing-corporate-item">{{ block.settings.option6 }}</li>
								{% else %}
								<li>&nbsp;</li>
								{% endif %}
								{%- if block.settings.option7 != blank -%}
								<li class="pricing-corporate-item">{{ block.settings.option7 }}</li>
								{% else %}
								<li>&nbsp;</li>
								{% endif %}																																																

							</ul><a class="button button-secondary button-nuka" href="{{ block.settings.button_url }}">{{ block.settings.button_text }}<span class="button-overlay"></span></a>
						</div>
					</article>
				</div>
				{% endfor %}
					</div></div><div class="owl-nav disabled"><button aria-label="Owl disable" type="button" role="presentation" class="owl-prev disabled"></button><button aria-label="Owl next disable" type="button" role="presentation" class="owl-next disabled"></button></div><div class="owl-dots disabled"><button aria-label="Owl dot" role="button" class="owl-dot active"><span></span></button></div></div>
			</div>
		</div>
	</div>
</section>

{% schema %}
  {
    "name": "Pricing",
		"tag": "div",
		"settings": [	
					{
						"id": "anchor",
						"type": "text",
						"label": "Anchor"
					},							
					{
						"id": "head",
						"type": "text",
						"label": "Head"
					}				
				],
				"blocks": [
					{
						"type": "text",
						"name": "list",
						"settings": [
							{
								"type": "text",
								"id": "head",
								"label": "Head"
							},
							{
								"type": "text",
								"id": "save",
								"label": "Save"
							},							
							{
								"type": "text",
								"id": "price",
								"label": "Price"
							},
							{
								"type": "text",
								"id": "duration",
								"label": "Duration"
							},
							{
								"type": "text",
								"id": "button_text",
								"label": "Button text",
								"default": "Order now"
							},
							{
								"type": "url",
								"id": "button_url",
								"label": "Button url"
							},
							{
								"type": "text",
								"id": "option1",
								"label": "Option 1"
							},
							{
								"type": "text",
								"id": "option2",
								"label": "Option 2"
							},
							{
								"type": "text",
								"id": "option3",
								"label": "Option 3"
							},
							{
								"type": "text",
								"id": "option4",
								"label": "Option 4"
							},
							{
								"type": "text",
								"id": "option5",
								"label": "Option 5"
							},
							{
								"type": "text",
								"id": "option6",
								"label": "Option 6"
							},
							{
								"type": "text",
								"id": "option7",
								"label": "Option 7"
							}																																																							
						]
					}
				],			
				"presets": [
					{
						"category": "Custom Content",
						"name": "Pricing"						
					}											
				]						
  }
{% endschema %}