<section class="section section-md bg-default">
	<div class="container">
		<div class="row">
			<div class="col-xl-12 col-lg-12">
				<!-- Quote Primary-->	
							
				<article class="quote-primary">
					<div class="quote-primary-body">
						<svg class="quote-primary-mark" version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="88.34px" height="65.34px" viewBox="0 0 88.34 65.34" enable-background="new 0 0 88.34 65.34" overflow="scroll" xml:space="preserve" preserveAspectRatio="none">
							<path d="M49.394,65.34v-4.131c12.318-7.088,19.924-16.074,22.811-26.965c-3.125,2.032-5.968,3.051-8.526,3.051								c-4.265,0-7.864-1.721-10.803-5.168c-2.937-3.444-4.407-7.654-4.407-12.64c0-5.511,1.932-10.142,5.791-13.878								C58.123,1.873,62.873,0,68.51,0c5.639,0,10.354,2.379,14.143,7.137c3.793,4.757,5.688,10.678,5.688,17.758								c0,9.977-3.814,18.912-11.443,26.818C69.268,59.613,60.101,64.156,49.394,65.34z M0.923,65.34v-4.131								c12.321-7.088,19.926-16.074,22.813-26.965c-3.126,2.032-5.993,3.051-8.598,3.051c-4.219,0-7.794-1.721-10.734-5.168								C1.467,28.683,0,24.473,0,19.487C0,13.976,1.919,9.346,5.757,5.609C9.595,1.873,14.334,0,19.971,0								c5.685,0,10.41,2.379,14.178,7.137c3.767,4.757,5.652,10.678,5.652,17.758c0,9.977-3.805,18.912-11.409,26.818								C20.787,59.613,11.632,64.156,0.923,65.34z"></path>
						</svg>
						{%- if section.settings.text != blank -%}
						<div class="quote-primary-text">
								<p class="big">{{ section.settings.text }}</p>
						</div>
						{%- endif -%}
					</div>
					{%- if section.settings.client != blank -%}
					<div class="quote-primary-footer">
						<p class="heading-5 quote-primary-cite">
						{{ section.settings.client }}					
						</p>
					</div>
					{%- endif -%}
				</article>
			</div>
		</div>
	</div>
</section>


{% schema %}
  {
    "name": "Quote",
		"tag": "div",
		"settings": [
					{
						"id": "text",
						"type": "textarea",
						"label": "Text"
					},
					{
						"id": "client",
						"type": "html",
						"label": "Client"
					}											
				],
				"presets": [
					{
						"category": "Custom Content",
						"name": "Quote"
					}
				]						
  }
{% endschema %}