<section class="section section-md bg-default">
	<div class="container">
		<!-- Owl Carousel-->
		<div class="owl-carousel owl-wide owl-app" data-items="2" data-sm-items="3" data-xl-items="3" data-margin="50" data-sm-margin="100" data-xl-margin="200" data-xxl-margin="0" data-dots="true" data-autoplay="false" data-loop="false" data-center="true" data-smart-speed="1000" data-autoplay-time-out="1000">
			{% for block in section.blocks %}
				{%- if block.settings.image != blank -%}
					{%- if block.settings.image_url != blank -%}
					<a href="{{ block.settings.image_url }}" title="">
					{%- endif -%}
					<img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-src="{{ block.settings.image  | img_url: '1000x' }}" alt="{{ block.settings.image.alt }}" />
					{%- if block.settings.image_url != blank -%}
					</a>
					{%- endif -%}
				{% endif %}
			{% endfor %}
		</div>
	</div>
</section>

{% schema %}
  {
    "name": "Slider",
		"tag": "div",
		"blocks": [
			{
				"type": "text",
				"name": "list",
				"settings": [
					{
						"type": "image_picker",
						"id": "image",
						"label": "Image"
					},
					{
						"type": "url",
						"id": "image_url",
						"label": "Image url"
					}								
				]
			}
		],			
		"presets": [
			{
				"category": "Custom Content",
				"name": "Slider"						
			}											
		]						
  }
{% endschema %}

