<section class="sectoin section-md bg-default text-center"{%- if section.settings.anchor != blank -%}id="{{ section.settings.anchor }}"{%- endif -%}>
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-xl-6 col-lg-7 col-md-9 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
				{%- if section.settings.head != blank -%}
					<h4>{{ section.settings.head }}</h4>
				{% endif %}
				{%- if section.settings.text != blank -%}
					<p class="offset-top-15">{{ section.settings.text }}</p>
				{% endif %}				
				<form class="rd-form rd-mailform rd-form-inline px-xl-5" data-form-output="form-output-global" data-form-type="subscribe" method="post" action="{{ section.settings.mail_url }}" novalidate="novalidate">
					<div class="form-wrap">
						<input class="form-input form-control-has-validation" id="subscribe-form-email" type="email" name="email">
						<label class="form-label rd-input-label" for="subscribe-form-email">Your email address <span class="text-primary">*</span></label>
					</div>					
					<div class="form-button">
						<button class="button button-primary button-nuka" type="submit">{{ section.settings.button_text }}<span class="button-overlay"></span></button>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>

{% schema %}
  {
    "name": "Subscription",
		"tag": "div",
		"settings": [
					{
						"id": "anchor",
						"type": "text",
						"label": "Anchor"
					},			
					{
						"id": "head",
						"type": "textarea",
						"label": "Head"
					},								
					{
						"id": "text",
						"type": "textarea",
						"label": "Text"
					},
					{
						"id": "mail_url",
						"type": "url",
						"label": "Mail link"
					},					
					{
						"id": "mail_text",
						"type": "text",
						"label": "Mail text",
						"default": "Your email address"
					},
					{
						"id": "required_text",
						"type": "text",
						"label": "Required text",
						"default": "The field is required"
					},
					{
						"id": "button_text",
						"type": "text",
						"label": "Button text",
						"default" : "Submit"
					}													
				],
				"presets": [
					{
						"category": "Custom Content",
						"name": "Subscription"
					}
				]						
  }
{% endschema %}