<section class="section section-md bg-default"{%- if section.settings.anchor != blank -%}id="{{ section.settings.anchor }}"{%- endif -%}>
	<div class="container">
		<div class="row row-15 justify-content-sm-between wow fadeInUp">
			<div class="col-xl-5 col-lg-6">
				{%- if section.settings.title != blank -%}
					<h6>{{ section.settings.title }}</h6>
				{% endif %}
				{%- if section.settings.head != blank -%}
					<h2>{{ section.settings.head }}</h2>
				{% endif %}
				{%- if section.settings.text != blank -%}
					<p class="big">{{ section.settings.text }}</p>
				{%- endif -%}
				{%- if section.settings.button_text != blank -%}
					<a class="button button-secondary button-nuka" href="{{ section.settings.button_url }}">{{ section.settings.button_text }}<span class="button-overlay"></span></a>
				{%- endif -%}				
			</div>
			<div class="col-xl-6 col-lg-6">
				<div class="text-center text-lg-left">
					{%- if section.settings.image != blank -%}
						<img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-src="{{ section.settings.image  | img_url: 'master' }}" alt="{{ section.settings.alt }}" data-wow-delay=".6s"/>
					{%- endif -%}
				</div>
			</div>
		</div>
	</div>
</section>

{% schema %}
  {
    "name": "Text with right image",
		"tag": "div",
		"settings": [
					{
						"id": "anchor",
						"type": "text",
						"label": "Anchor"
					},			
					{
						"id": "title",
						"type": "text",
						"label": "Title"
					},
					{
						"id": "head",
						"type": "textarea",
						"label": "head"
					},								
					{
						"id": "text",
						"type": "textarea",
						"label": "Text"
					},
					{
						"id": "button_url",
						"type": "url",
						"label": "Button link"
					},					
					{
						"id": "button_text",
						"type": "text",
						"label": "Button text"
					},					
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }					
				],
				"presets": [
					{
						"category": "Custom Content",
						"name": "Text with right image"
					}
				]						
  }
{% endschema %}