<style>@media (max-width:640px){#top h1{padding:30px 0 10px 0}#top h6{display:none}.big{font-size:14px!important}}</style>
<style>
@media (min-width:1281px){#top-container{height:300px}}@media (min-width:1025px) and (max-width:1280px){#top-container{height:300px}}@media (min-width:768px) and (max-width:1024px){#top-container{height:300px}}@media (min-width:768px) and (max-width:1024px) and (orientation:landscape){#top-container{height:300px}}@media (min-width:481px) and (max-width:767px){#top-container{height:195px}}@media (min-width:320px) and (max-width:480px){#top-container{height:175px}}
</style>
<section class="section text-center bg-wave-dark-wrap pb-0 text-gray-600" id="top">
	<div class="bg-wave-dark bg-wave-dark-1 bg-gray-800">
		<svg class="wave-dark" width="1920" height="713" viewBox="0 0 1920 713" fill="none">
			<path class="wave-path wave-path-1" d="M1920 463.314V713H0V414.325C0.0515862 414.316 0.103105 414.308 0.154556 414.299C59.8232 467.769 270.664 573.445 636.676 568.392C873.316 565.126 1040.4 505.514 1188.57 452.65C1326.86 403.309 1448.68 359.846 1595.21 373.565C1727.41 385.944 1837.94 423.471 1920 463.314Z" fill="white"></path>
			<path class="wave-path wave-path-2" d="M1920 463.988V713H0V234.66C102.275 199.182 221.353 170.486 354.422 158.026C584.381 136.494 775.567 204.707 992.611 282.146C1225.15 365.113 1373 457.092 1858.75 463.796C1879.49 464.082 1899.9 464.142 1920 463.988Z" fill="white"></path>
			<path class="wave-path wave-path-3" d="M1920 85.9538V713H0V310.063C15.2357 310.099 30.6508 310.012 46.2454 309.796C417.632 304.67 679.852 211.113 912.389 128.146C1129.43 50.7068 1320.62 -17.5061 1550.58 4.02629C1690.21 17.1004 1814.43 48.0502 1920 85.9538Z" fill="white"></path>
		</svg>
	</div>
	<div class="container">
		<h1>{{ section.settings.head_text }}</h1>
		<div class="row row-fix justify-content-center">
			<div class="col-xl-8 col-lg-9 col-md-10 col-sm-11" id="top-container">
			<h6>{{ section.settings.top_text }}</h6>

				{% comment %} <p class="big d-none d-sm-block wow fadeInUp" data-wow-delay=".4s">{{ section.settings.bottom_text }}</p> {% endcomment %}
				{%- if section.settings.image != blank -%}
					{% comment %} <img class="wow fadeInUp lazyload" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-src="{{ section.settings.image  | img_url: 'master' }}" alt="Welcome to our agency" data-wow-delay=".6s"/> {% endcomment %}
				
					{%- assign load_img = section.settings.image -%}

					<img alt="Welcome to my project"
						src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
						class="lazyload"
						sizes="100vw"
						data-srcset="  {{ load_img | img_url: '2048x' }} 2048w,
											{{ load_img | img_url: '1600x' }} 1600w,
											{{ load_img | img_url: '1200x' }} 1200w,
											{{ load_img | img_url: '1000x' }} 1000w,
											{{ load_img | img_url: '600x' }} 800w,
											{{ load_img | img_url: '600x' }} 600w,
											{{ load_img | img_url: '600x' }} 400w"
					/>				
				
				{%- endif -%}
			</div>
		</div>
	</div>
</section>

<style>@media (max-width:1366px){#quote{margin:0}.freebutton{padding:5px 0 15px}}@media (min-width:1367px){#quote{margin:50px 0}.freebutton{display:none}}</style>
<div class="text-center freebutton">
	<a class="button button-secondary button-nuka check-for-free" href="https://speedup.guru/products/free-package">Check my site for free<span class="button-overlay"></span></a>
</div>

{% schema %}
  {
    "name": "Top",
		"tag": "div",
		"settings": [
					{
						"id": "top_text",
						"type": "text",
						"label": "Top text"
					},			
					{
						"id": "head_text",
						"type": "textarea",
						"label": "Header"
					},
					{
						"id": "bottom_text",
						"type": "textarea",
						"label": "Bottom text"
					},
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }
				],
				"presets": [
					{
						"category": "Custom Content",
						"name": "Top"
					}
				]					
  }
{% endschema %}