<section class="section section-md bg-default"{%- if section.settings.anchor != blank -%}id="{{ section.settings.anchor }}"{%- endif -%}>
	<div class="container">
		<div class="row row-40 align-items-center wow fadeInUp">
			<div class="col-xl-7 col-lg-6">
				{%- if section.settings.html != blank -%}
					<h6>{{ section.settings.html }}</h6>
				{% endif %}						
			</div>
			<div class="col-xl-5 col-lg-6">
				{%- if section.settings.title != blank -%}
					<h6>{{ section.settings.title }}</h6>
				{% endif %}
				{%- if section.settings.head != blank -%}
					<h2>{{ section.settings.head }}</h2>
				{% endif %}
				{%- if section.settings.text != blank -%}
					<p class="big">{{ section.settings.text }}</p>
				{%- endif -%}		
				{%- if section.blocks != blank -%}
					<ul class="list-decorative big">
					{% for block in section.blocks %}
						<li>
								{{ block.settings.content }}
						</li>
					{% endfor %}
					</ul>					
				{%- endif -%}
			</div>
		</div>
	</div>
</section>

{% schema %}
  {
    "name": "Video with right text",
		"tag": "div",
		"settings": [
					{
						"id": "anchor",
						"type": "text",
						"label": "Anchor"
					},			
					{
						"id": "title",
						"type": "text",
						"label": "Title"
					},					
					{
						"id": "head",
						"type": "textarea",
						"label": "Head"
					},
					{
						"id": "text",
						"type": "textarea",
						"label": "Text"
					},								
					{
						"id": "html",
						"type": "html",
						"label": "Html block",
						"default": "<div class='img-video'><a class='button-play' href='https://www.youtube.com/watch?v=I5FlP07kdvM' data-lightgallery='item'><svg width='19' height='21' viewbox='0 0 19 21'><path d='M18.0698 8.92762C19.3101 9.63455 19.3101 11.3655 18.0698 12.0724L2.85678 20.7432C1.59455 21.4626 -6.40869e-08 20.585 0 19.1708L7.85887e-07 1.82916C8.49974e-07 0.414998 1.59455 -0.462644 2.85678 0.256784L18.0698 8.92762Z'></path></svg></a><img class='box-shadow' src='https://cdn.shopify.com/s/files/1/0250/8583/7421/t/4/assets/landing-corporate-02-660x406.jpg' alt='' width='660' height='406'/></div>"
					}				
				],
				"blocks": [
					{
						"type": "text",
						"name": "list",
						"settings": [
							{
								"type": "text",
								"id": "content",
								"label": "Text"
							}
						]
					}
				],			
				"presets": [
					{
						"category": "Custom Content",
						"name": "Video with right text"						
					}											
				]						
  }
{% endschema %}