<section class="section section-md bg-default text-center"{%- if section.settings.anchor != blank -%}id="{{ section.settings.anchor }}"{%- endif -%}>
	<div class="container">
		<div class="row row-fix justify-content-center wow fadeInUp">
			<div class="col-xl-8 col-lg-10">
				{%- if section.settings.title != blank -%}
					<h6>{{ section.settings.title }}</h6>
				{% endif %}
				{%- if section.settings.head != blank -%}
					<h2>{{ section.settings.head }}</h2>
				{% endif %}
				{%- if section.settings.text != blank -%}
					<p class="big" style="text-align:left; margin-top:40px;">{{ section.settings.text }}</p>
				{%- endif -%}
			</div>
			<div class="col-xl-8 col-lg-10">
				{%- if section.settings.button_text != blank -%}
				  <br/>
					<a class="button button-secondary button-nuka" href="{{ section.settings.button_url }}">{{ section.settings.button_text }}<span class="button-overlay"></span></a>
				{%- endif -%}
			</div>
		</div>
	</div>
</section>


{% schema %}
  {
    "name": "Wide text",
		"tag": "div",
		"settings": [
					{
						"id": "anchor",
						"type": "text",
						"label": "Anchor"
					},			
					{
						"id": "title",
						"type": "text",
						"label": "Title"
					},
					{
						"id": "head",
						"type": "textarea",
						"label": "Head"
					},								
					{
						"id": "text",
						"type": "html",
						"label": "Html"
					},
					{
						"id": "button_url",
						"type": "url",
						"label": "Button link"
					},					
					{
						"id": "button_text",
						"type": "text",
						"label": "Button text"
					}					
				],
				"presets": [
					{
						"category": "Custom Content",
						"name": "Wide text"
					}
				]						
  }
{% endschema %}