<section class="section section-md bg-default">
	<div class="container">
		<div class="row">
			<div class="col-xl-12 col-lg-12">
				<h1 class="text-center">{{ article.title | escape }}</h1>
				<br /><br />
				<p class="big">{{ article.content }}</p>
			</div>
		</div>
	</div>
</section>