<section class="section section-md bg-default">
	<div class="container">
		<div class="row row-40 justify-content-center">
			<div class="col-xl-12 wow fadeInUp">
				<!-- Owl Carousel-->
				<div class="owl-carousel"  data-items="1" data-dots="true" data-nav="true" data-loop="false" data-margin="50" data-mouse-drag="false" data-autoplay="false">
					<center><img class="sites" src="{{ '__sites_[page_title]-before-desktop-google-1.png' | asset_url | replace: '[page_title]', page.title }}" /></center>
					<center><img class="sites" src="{{ '__sites_[page_title]-after-desktop-google-1.png' | asset_url | replace: '[page_title]', page.title }}" /></center>
					<center><img class="sites" src="{{ '__sites_[page_title]-before-desktop-gtmetrix-2.png' | asset_url | replace: '[page_title]', page.title }}" /></center>
					<center><img class="sites" src="{{ '__sites_[page_title]-after-desktop-gtmetrix-2.png' | asset_url | replace: '[page_title]', page.title }}" /></center>
					<center><img class="sites" src="{{ '__sites_[page_title]-before-desktop-pingdom.png' | asset_url | replace: '[page_title]', page.title }}" /></center>
					<center><img class="sites" src="{{ '__sites_[page_title]-after-desktop-pingdom.png' | asset_url | replace: '[page_title]', page.title }}" /></center>									
				</div>
			</div>
		</div>
	</div>
</section>