<section class="section section-md bg-default text-center">
	<div class="container">
		<div class="row row-fix justify-content-center wow fadeInUp">
			<div class="col-xl-12 col-lg-12">
				{{ page.content }}
			</div>
		</div>
	</div>
</section>