<section class="section section-md bg-default text-center">
	<div class="container">
		<div class="row row-fix justify-content-center wow fadeInUp">
			<div class="col-xl-8 col-lg-10"><h6>Congratulations, we have successfully accepted your request.</h6>
				<h2>{{ page.content }}</h2>
				<a class="button button-secondary button-nuka" href="https://speedup.guru">Return Home<span class="button-overlay"></span></a></div>
		</div>
	</div>
</section>